<div class="row py-lg-5">
  <div class="col-lg-6 col-md-8 mx-auto">
    <h1 class="fw-light text-center">Courses</h1>
    <p class="text-center">View courses available for this semester.</p>
  </div>
</div>